# Airflow
airflow/logs/
airflow/airflow.db
airflow/*.pid
airflow/dags/__pycache__/
airflow/plugins/__pycache__/

# Secrets
.env
.env.*

# SQLite
*.db
*.db-journal
*.db-wal
*.db-shm

# Local data
/data/